    </div>
</div>

    <div class="side-right">
        <div>
            <form action="">
                <input class="search-form" type="text" name="" id="" placeholder="Search Twitter">
            </form>
        </div>

        <div class="trending-right">
            <h2 class="title-trending">Tendances pour vous</h2>
            
            <div class="hashtags">
                <a  href="#">
                    <span class="trendings">Tendance dans la catégorie France</span>
                    <span class="word-trending">Will Smith</span>
                </a>
            </div>
            
            <div class="hashtags">
                <a  href="#">
                    <span class="trendings">Tendance dans la catégorie France</span>
                    <span class="word-trending">Gilbert Montagné</span>
                </a>
            </div>

            <div class="hashtags">
                <a  href="#">
                    <span class="trendings">Tendance dans la catégorie France</span>
                    <span class="word-trending">Oscars</span>
                </a>
            </div>

            <div class="hashtags">
                <a  href="#">
                    <span class="trendings">Tendance dans la catégorie France</span>
                    <span class="word-trending">Musulmans</span>
                </a>
            </div>

            <div class="hashtags">
                <a  href="#">
                    <span class="trendings">Tendance dans la catégorie France</span>
                    <span class="word-trending">Corée du Sud</span>
                </a>
            </div>

            <div class="hashtags">
                <a  href="#">
                    <span class="trendings">Tendance dans la catégorie France</span>
                    <span class="word-trending">Ruby</span>
                </a>
            </div>

            <div class="empty-space"></div>

        </div>

    </div>
    