    </div>
</div>

    <div class="side-right">
            <form action="{{path('app_search')}}">
                <input class="search-form" type="text" name="search" id="" placeholder="Search Twitter">
            </form>

        <div class="trending-right">
            <h2 class="title-trending">Tendances pour vous</h2>
            
            {% for hashtag in hashtags %}
            <div class="hashtags">
                <a href="{{path('app_search',{'search': hashtag.content})}}">
                    <span class="trendings">{{hashtag.count}} tweets</span>
                    <span class="word-trending">{{hashtag.content}}</span>
                </a>
            </div>
            {% endfor %}

            <div class="empty-space"></div>

        </div>

    </div>
    