</div>

    <div class="side-right">
        <div class="search-form">
            <form action="">
                <label for=""><i class="fas fa-search"></i></label>
                <input type="text" name="" id="" value="Search Twitter">
            </form>
        </div>
    </div>
    
</div>