<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Twitter{% endblock %}</title>
        <link rel="icon" width="2" href="https://upload.wikimedia.org/wikipedia/fr/thumb/c/c8/Twitter_Bird.svg/1200px-Twitter_Bird.svg.png">

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        
        {# Inclusion de la sidebar de gauche  #}
        {% include "_twitter_layout_left.html.twig" %}

        {% block body %}{% endblock %}

        {# Inclusion de la sidebar de droite  #}
        {% include "_twitter_layout_right.html.twig" %}


    </body>
</html>
